upstream rpc-gateway {
   server rpc-gateway;
}

server {
   listen 80;

   location /rpc {
      proxy_pass http://rpc-gateway;
   }

   location /token {
      proxy_pass http://rpc-gateway;
   }

}
